body {
	color: white;
	font-family: "Roboto";
	margin: 0;
}

nav {
	height: 100vh;
	width: 200px;
	padding: 0 30px;
	position: fixed;
	background-color: #331e38;
	box-sizing: border-box;
}

main {
	margin-left: 200px;
}

.banner-box > h1 {
	margin: 0 0 10px 0;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2em;
	letter-spacing: 1px;
}


:target {
  animation: highlight 2s ease;

}
/* ------ SIDE BAR ELEMENTS ------ */


nav img {
	width: 130px;
	margin: 50px 0;

}

nav ul li {
	display: block;
}

nav ul {
	display: block;
	padding: 0;
	margin: 0 0;
	width: 130px;
}


nav li {
	border-bottom: 1px solid white;
	line-height: 3em;
	text-align: center;
	width: 130px;

}

.menu {
	margin: 0 5px;
}

a:visited {
	color: white;
	text-decoration: none;
}

a:active {
	color: white;
	text-decoration: none;
}

a:link {
	color: white;
	text-decoration: none;
}


li > a:hover {
	font-size: 1.5em;
	color: yellow;
	transition: .25s;
}

nav > ul > li:hover {
	border-bottom: none;

}


/* ------ SIDE BAR ELEMENTS ------ */


/* ------ BANNER ELEMENTS ------ */

#banner {
	background-image: url("images/banner.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100vh;
	position: relative;

}


.banner-box {
	border: 5px solid white;
	width: 40%;
	padding: 40px;
	box-sizing: border-box;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);

}

/* ------ BANNER ELEMENTS ------ */


/* ------ ABOUT-ME ELEMENTS ------ */

#about-me {
	background: linear-gradient(
				rgba(255, 0, 0, 0.45),
				rgba(255, 0, 0, 0.45)),
				rgba(255, 0, 0, 0.45)
				url("images/aboutme.jpg")
				no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: right;
	min-height: 100vh;
	position: relative;
	box-sizing: border-box;
	padding: 30px;

}

.aboutme-wrapper {
	width: 400px;
}

.aboutme-wrapper h1 {
	font-size: 4em;
	margin: 0 0 10px 0;
}


/*.overlay {
	
	background-size: cover;
	height: 100vh;
	position: relative;
	box-sizing: border-box;

}*/

/* ------ ABOUT-ME ELEMENTS ------ */


/* ------ SERVICES ELEMENTS ------ */

#services {
	box-sizing: border-box;
	padding: 30px;
	min-height: 300px;
	background-color: #423d2d;
	color: #9c9681;
	transition:all 1s ease;
}

#services h1 {
	margin: 0 0 10px 0;
	text-transform: uppercase;
	font-size: 4em;
}

.services-text > h2 {
	margin: 0 0 10px 0;
	font-size: 1.5em;
	font-weight: bold;
	color: salmon;
	text-transform: capitalize;
}

.services-text p {
	font-size: 0.8em;
	line-height: 1.2em;
	color: white;
}

.services-column {
	width: 30%;
	margin: 30px 10px;
	float: left;
}

.services-icons img {
	height: 50px;
}

.services-icons {
	float: left;
	width: 22%;

}

.services-text {
	float: right;
	width: 78%;
}



/* ------ SERVICES ELEMENTS ------ */


/* ------ PROJECTS ELEMENTS ------ */

#projects {
	min-height: 300px;
	background-image: url("images/projects.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	box-sizing: border-box;
	padding: 30px;
}

.projects-container h1 {
	text-transform: uppercase;
	font-size: 4em;
	margin: 0 0 10px 0;
}

.projects-container {
	width: 500px;
}

/* ------ PROJECTS ELEMENTS ------ */



/* ------ GALLERY ELEMENTS ------ */

#gallery {
	min-height: 400px;
	background-color: #b5b4c7;
	padding: 30px;
	box-sizing: border-box;
	transition:all 1s ease;
}

.gallery-column {
	width: 22%;
	float: left;
	margin: 0 10px;

}

.gallery-column h2 {
	font-size: 1.5em;
	font-weight: bold;
	color: #585671;
	text-transform: capitalize;
	margin: 10px 0;
	font-family: "Lobster";
}

.gallery-column p {
	font-size: 0.8em;
	line-height: 1.2em;
	margin: 10px 0;

}

.gallery-column img {
	width: 100%;
	border-radius: 3px;
}

.clear:after {
	content: "";
	display: block;
	clear: both;
}



/* ------ GALLERY ELEMENTS ------ */



/* ------ CONTACT ELEMENTS ------ */

#contact {
	min-height: 250px;
	background-image: url("images/contactme.jpg");

	background-position: 0 50%;
	background-size: cover;
	box-sizing: border-box;
	padding: 30px;
	text-align: right;
}

#contact h1 {
	text-transform: uppercase;
	font-size: 4em;
	margin: 0 0 10px 0;
	padding-right: 50px;
}

#contact span {
	padding-right: 50px;
}

/* ------ CONTACT ELEMENTS ------ */


/* ------ FOOTER ELEMENTS ------ */
#footer {
	min-height: 100px;
	background-color: #c2095a;
	box-sizing: border-box;
	padding: 30px;
	font-size: 0.8em;
	position: relative;

}

#footer p {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin: 0 50px 0 0;
}

#footer figure img {
	height: 20px;
	display: inline-block;
	margin: 0 5px;
}

#footer figure {
	position: absolute;
	right: 0;

}

/* ------ FOOTER ELEMENTS ------ */